<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>Usine Beaumont - Migennes</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/reset.css">
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/main.css">
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/header.css">
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/footer.css">
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/home.css">
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/docs.css">
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/plan.css">
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/ext.css">
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/des.css">
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/des.css">
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/other.css">
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/contact.css">
</head>

<body>

    <header>
        <div class="container">
            <nav>

                <div class="menu-header">
                    <ul>
                        <li><a {% if page == 'home' %} class="active" {% endif %} href="{{ url('home') }}">Accueil</a></li>
                        <li><a {% if page == 'product' %} class="active" {% endif %}>Produits</a>
                            <ul>
                                <li><a href="{{ url('product-ext') }}">Extincteur</a></li>
                                <li><a href="{{ url('product-des') }}">Désenfumage</a></li>
                                <li><a href="{{ url('product-oth') }}">Autres</a></li>
                            </ul>
                       </li>
                        <li><a {% if page == 'plan' %} class="active" {% endif %} href="{{ url('plan') }}">Plan d'accès</a></li>
                        <li><a {% if page == 'docs' %} class="active" {% endif %} href="{{ url('docs') }}">Documents utiles</a></li>
                        <li><a {% if page == 'contact' %} class="active" {% endif %} href="{{ url('contact') }}">Contact</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>

                <div class="logo-header">
                    <a href="{{ url('home') }}"><img src="{{ global.request.basepath }}/assets/img/logo-beaumont.png"></a>
                </div>

            </nav>
        </div>
    </header>