<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
        <title>Usine Beaumont - Migennes</title>

        <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/reset.css">
        <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/main.css">
        <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/header.css">
        <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/footer.css">
        <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/home.css">
        <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/docs.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>

    <body>

        <div class="container">
            <nav>

                <div class="logo-header">
                    <img src="{{ global.request.basepath }}/assets/img/logo-beaumont.png">
                </div>

                <div class="menu-header">
                    <ul>
                        <li><a href="{{ url('home') }}">Accueil</a></li>
                        <li><a href="{{ url('produits') }}">Produits</a></li>
                        <li><a href="{{ url('plan') }}">Plan d'accès</a></li>
                        <li><a href="{{ url('docs') }}">Documents utiles</a></li>
                        <li><a href="{{ url('contact') }}">Contact</a></li>
                    </ul>
                </div>

                <div class="clear"></div>
            </nav>

        </div>