{{ include('partials/header.twig') }}

<h1 class="title-class">Nous conctacter ...</h1>

<div class="back-contact">
    <div class="form">
        <div class="form-contact">
            {{ form_start(contact_form) }}

            <div class="form-1 form-left">
                <label class='labels'> Société </label>
                <div class="inputs">{{ form_widget(contact_form.entreprise, {'attr' : {'data-index' : '0'}}) }}</div>

                <label class='labels'> Email </label>
                <div class="inputs">{{ form_widget(contact_form.email, {'attr' : {'data-index' : '1'}}) }}</div>
            </div>

            <div class="form-1 form-right">
                <label class='labels'> Nom / Prenom </label>
                <div class="inputs right-input">{{ form_widget(contact_form.name, {'attr' : {'data-index' : '2'}}) }}</div>
                <div class="clear"></div>

                <label class='labels'> Téléphone </label>
                <div class="inputs right-input">{{ form_widget(contact_form.tel, {'attr' : {'data-index' : '3'}}) }}</div>
                <div class="clear"></div>

            </div>
            <div class="clear"></div>

            <div class="form-2">
                <label class='labels'> Commentaire </label>
                <div class="inputs">{{ form_widget(contact_form.body, {'attr' : {'data-index' : '4'}}) }}</div>
            </div>
        </div>

        <div class="button-form">
            {{ form_widget(contact_form.submit) }}
        </div>
        {{ form_end(contact_form) }}
    </div>

</div>

{{ include('partials/footer.twig') }}
