{{ include('partials/header.twig') }}

<div class="container">

    <h1 class="title-class">Les documents utiles ...</h1>

    <div class="docs-cards">

        <div class="docs-card">

            <div class="docs-card-top">
                <img src="{{global.request.basepath}}/assets/img/security.png" alt="">
                <h2>LES <strong>FICHES SÉCURITÉS</strong></h2>
            </div>

            <div class="docs-card-bot">
                <div class="docs-card-bot-line">
                    <span>Certification n°1</span>
                    <img class="center-img-2" src="{{global.request.basepath}}/assets/img/fiche-securite-icon.png" alt="">
                </div>
            </div>

        </div>

        <div class="docs-card">

            <div class="docs-card-top">
                <img src="{{global.request.basepath}}/assets/img/certification.png" alt="">
                <h2>LES <strong>CERTIFICATIONS</strong></h2>
            </div>

            <div class="docs-card-bot">
                <div class="docs-card-bot-line">
                    <span>Fiche de sécurité n°1</span>
                    <img class="center-img-1" src="{{global.request.basepath}}/assets/img/download.png" alt="">
                </div>
                <div class="docs-card-bot-line">
                    <span>Fiche de sécurité n°1</span>
                    <img class="center-img-1" src="{{global.request.basepath}}/assets/img/download.png" alt="">
                </div>
            </div>

        </div>

        <div class="clear"></div>

    </div>

</div>

{{ include('partials/footer.twig') }}
