{{ include('partials/header.twig') }}

<div class="docs-container container">

    <h1 class="title-class docs-title">Les documents utiles ...</h1>

    <div class="docs-cards">

        <div class="docs-card">

            <div class="docs-card-top">
                <img src="{{global.request.basepath}}/assets/img/security.png" alt="">
                <h2>LES <strong>FICHES SÉCURITÉS</strong></h2>
            </div>

            <div class="docs-card-bot">
                <div class="docs-card-bot-line">
                    Fiche de sécurité CO²
                    <img src="{{global.request.basepath}}/assets/img/fiche-securite-icon.png" alt="">
                </div>
            </div>

        </div>

        <div class="docs-card">

            <div class="docs-card-top">
                <img src="{{global.request.basepath}}/assets/img/certification.png" alt="">
                <h2>LES <strong>CERTIFICATIONS</strong></h2>
            </div>

            <div class="docs-card-bot">
                <div class="docs-card-bot-line">
                    Certificat d'agrément
                    <img src="{{global.request.basepath}}/assets/img/download.png" alt="">
                </div>
                <div class="docs-card-bot-line">
                    Approbation SII
                    <img src="{{global.request.basepath}}/assets/img/download.png" alt="">
                </div>
            </div>

        </div>

        <div class="clear"></div>

    </div>

</div>

{{ include('partials/footer.twig') }}
