{{ include('partials/header.twig') }}

<div class="slider-home">

    <img class="exctincteur" src="{{ global.request.basepath }}/assets/img/banniere-extincteur.png">
    <img class="desenfumage" src="{{ global.request.basepath }}/assets/img/banniere-desenfumage.png">
    <img class="ecrou" src="{{ global.request.basepath }}/assets/img/banniere-ecrou.png">

</div>

<div class="img-beaumont-home">
    <img src="{{ global.request.basepath }}/assets/img/beaumont.png">
</div>

<div class="container">
    <div class="presentation-beaumont">
        <h1>Découvrir la société Beaumont</h1>
        <div>
            <p>
                <strong class="presentation-bold">Fabriquant français depuis 1957, les établissements Beaumont<br> sont spécialistes dans la réalisations de sparklets, cartouches,<br> bouteilles et autre conteneurs de gaz très haute pression.</strong><br><br>
                Nos produits conçus à MIGENNES (89) sont principalement utilisés dans les domaines de la lutte contre l’incendie, le désenfumage et l’aéronautique.
                <br>Nous avons acquis la confiance de nombreux partenaires internationaux grâce à notre compétitivité et notre réactivité indipensable aux besoins des marchés actuels.
            </p>
        </div>

        <span class="decouvrir-beaumont">
            <a {% if page == 'products' %} class="active" {% endif %} href="{{ url('product-ext') }}">Découvrir nos produits</a>
        </span>
        
    </div>
</div>

<div class="clear"></div>

{{ include('partials/footer.twig') }}
